<footer class="py-3 my-4">
  <ul class="nav justify-content-center border-bottom pb-3 mb-3">
    <li class="nav-item">
      <a href="" class="nav-link px-2 text-muted">Mapa</a>
    </li>
    <li class="nav-item">
      <a href="function" class="nav-link px-2 text-muted">Función 2 variables</a>
    </li>
    <li class="nav-item">
      <a href="function2" class="nav-link px-2 text-muted">Función 3 variables</a>
    </li>
  </ul>
  <p class="text-center text-muted">© 2022 , Ascenso de colinas 4BM1</p>
</footer>
